RewriteEngine On

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Let authentification handle itself
RewriteRule ^authentification/ - [L]

# Let backend handle itself  
RewriteRule ^backend/ - [L]

# Everything else goes to frontend index.php
RewriteRule ^ index.php [L]